-
  var title = '5 лаба'
  var subImgList = ['tiger.jpg','crocodile.jpg','leo.jpg']
  var logoItems = {
    'alpaka.jpg': 'Домашнее мозоленогое животное, предположительно произошедшее от викуньи (вигони). Разводят в высокогорном поясе Южной Америки (Анды). На сегодняшний день там обитает около трёх миллионов альпак, большая часть из которых населяет Перу. ',
    'elephant.jpg':'род африканских млекопитающих отряда хоботных. Предположительно включает два современных вида: саванный слон (Loxodonta africana (L. Blumenbach, 1797)) и лесной слон (Loxodonta cyclotis (Paul Matschie, 1900)). Последние исследования ДНК африканских слонов дают возможность предполагать, что эти два вида рода Loxodonta появились 1,9 и 6 миллионов лет назад.',
    'hipo.jpg':'парнокопытное млекопитающее из семейства бегемотовых, единственный современный вид рода Hippopotamus. Характерной особенностью гиппопотама является его полуводный образ жизни — бо́льшую часть времени он проводит в воде, выходя на сушу лишь ночью на несколько часов для кормёжки',
    'kaban.jpg':'Слово «кабан» является тюркизмом, заимствованным в русский язык конце XVI в. Тюркское «kaban» с аналогичным значением восходит к корню kab- со значением «поднимать, набухать; толстый, круглый»[4][5].Другое обозначение животного — «вепрь» — является общеславянским, (праслав. *veprь), родственно латыш. vepris (кастрированный боров). Существуют две точки зрения на происхождение этого слова. '
  }
  var mainBlockTitle = 'Кролики'
  var mainBlockDecription = 'Кролики обладают полными, овальными телами. Их уши достигают длины более 10 см, возможно, являются адаптацией к обнаружению хищников, также для охлаждения тела. Размеры и вес кролика колеблются от 20 см в длину и 0,4 кг веса до 50 см и веса более 2 кг. Мех кроликов, как правило, длинный и мягкий, с оттенками коричневого, серого и тёмно-жёлтого цветов. Короткий хвост покрыт большим количеством коричневатого меха (белого на верхушке в случае американских кроликов)[2].Поскольку у кроликов надгортанник расположен над мягким нёбом (за исключением тех случаев когда они глотают), они обладают обязательным носовым дыханием[en]. У кроликов есть два комплекта резцов, расположенных один за другим. По этому признаку их можно отличить от грызунов, с которыми их часто путают[4]. Карл Линней изначально объединял кроликов и грызунов в класс грызунообразные. Позже они были разделены, поскольку преобладало мнение о том, что многие сходства являются результатом конвергентной эволюции. Однако недавние анализы ДНК и обнаружение общего предка подтвердили мнение, что кролики и грызуны имеют общее происхождение, поэтому сейчас их часто объединяют в общий таксон Грызунообразные[5].'
  var finalBlockTitle = 'Тигр'
  var finalBlockDecription = 'хищное млекопитающее семейства кошачьих, один из пяти видов рода пантер, принадлежащего к подсемейству больших кошек. Слово «тигр» происходит от др.-греч. τίγρις, которое в свою очередь восходит к др.-перс. *tigri от корня «*taig» со значением «острый; быстрый»[6][7][8].SСреди представителей этого вида встречаются крупнейшие животные семейства кошачьих. Тигр является одним из крупнейших наземных хищников, уступая по массе лишь белому и бурому медведям. Выделено два современных подвида тигра, включающих девять популяций, из которых к началу XXI века сохранились лишь шесть[4]. Общая численность составляет порядка 4000—6500 особей[9]. Самой многочисленной является популяция бенгальского тигра, составляющая около 40 % от всей популяции тигров.'
  var leftContact = '© Раздобаров Д.А , Б9121-09.03.04, 2023-2024'
  var rightContact = 'razdobarov.da@students.dvfu.ru'

doctype html
head
  title= title
  link(rel='stylesheet' href='css/main.css')
include header
.main_img
.sub_img
  each value in subImgList
    img(src="img/" + value,alt='')
.logo_block
  each value,key in logoItems
    .logo_block_item 
      img(src="img/"+key)
      p=value
.main_text_block
  .main_text_block_title= mainBlockTitle
  .main_text_block_content= mainBlockDecription
.final_block
  img(src='img/tiger.jpg' alt='')
  .final_block_content
    .final_block_content_title= finalBlockTitle
    .final_block_content_text= finalBlockDecription
.footer
  .footer_left= leftContact
  .footer_right= rightContact 
